## Pre Processing Procedure of adult dataset

In [117]:
#Importing necessary packages
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

### Dataframe Creation

In [118]:
# Reading the data files
with open('dataset/adult.data','r') as adult_data:
    row_data_array = adult_data.readlines()

# Creating an array to store the data by rows in order to change it to differnt columns
data_rows = []
#Arranging the data columns doing necessary splittings
for data_row in row_data_array:
    data_rows.append(data_row)

# Splitting the dataset to necessary columns
dataset_array = []
for data_row in data_rows:
    dataset_array.append(data_row.split(','))

In [119]:
# Creating the dataset_array to a pandas dataframe in order to work in future
adult_dataset = pd.DataFrame(dataset_array)

adult_dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K\n
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K\n
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K\n
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K\n
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K\n

In [120]:
# Renaming the Columns with the given names in the adult.names data file to make the dataset more readable
adult_dataset.columns = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per_week','native-country','income-per-year']

# Preview after adding the data columns
adult_dataset.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per_week,native-country,income-per-year
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K\n
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K\n
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K\n
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K\n
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K\n

In [121]:
# Saving the dataframe as a csv file for future references.
adult_dataset.to_csv('dataset/adult_dataset.csv')

### Data Cleaning

##### __Null values__

In [122]:
# General Information of the dataset
adult_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32562 entries, 0 to 32561
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32562 non-null  object
 1   workclass        32561 non-null  object
 2   fnlwgt           32561 non-null  object
 3   education        32561 non-null  object
 4   education-num    32561 non-null  object
 5   marital-status   32561 non-null  object
 6   occupation       32561 non-null  object
 7   relationship     32561 non-null  object
 8   race             32561 non-null  object
 9   sex              32561 non-null  object
 10  capital-gain     32561 non-null  object
 11  capital-loss     32561 non-null  object
 12  hours-per_week   32561 non-null  object
 13  native-country   32561 non-null  object
 14  income-per-year  32561 non-null  object
dtypes: object(15)
memory usage: 3.7+ MB

 To the above observation there is no null values in the dataset. Therefore __no need to fill__ the __null values__ in this dataset. Also we can observe that all the Data type of this dataset in object type.

##### __Duplicate values__

In [123]:
## Finding duplicate values in the dataset.
print(adult_dataset[adult_dataset.duplicated()])

      age          workclass   fnlwgt      education education-num  \
4881   25            Private   308144      Bachelors            13
5104   90            Private    52386   Some-college            10
9171   21            Private   250051   Some-college            10
11631  20            Private   107658   Some-college            10
13084  25            Private   195994        1st-4th             2
15059  21            Private   243368      Preschool             1
17040  46            Private   173243        HS-grad             9
18555  30            Private   144593        HS-grad             9
18698  19            Private    97261        HS-grad             9
21318  19            Private   138153   Some-college            10
21490  19            Private   146679   Some-college            10
21875  49            Private    31267        7th-8th             4
22300  25            Private   195994        1st-4th             2
22367  44            Private   367749      Bachelors            13
22494  49   Self-emp-not-inc    43479   Some-college            10
25872  23            Private   240137        5th-6th             3
26313  28            Private   274679        Masters            14
28230  27            Private   255582        HS-grad             9
28522  42            Private   204235   Some-college            10
28846  39            Private    30916        HS-grad             9
29157  38            Private   207202        HS-grad             9
30845  46            Private   133616   Some-college            10
31993  19            Private   251579   Some-college            10
32404  35            Private   379959        HS-grad             9

            marital-status          occupation    relationship  \
4881         Never-married        Craft-repair   Not-in-family
5104         Never-married       Other-service   Not-in-family
9171         Never-married      Prof-specialty       Own-child
11631        Never-married        Tech-support   Not-in-family
13084        Never-married     Priv-house-serv   Not-in-family
15059        Never-married     Farming-fishing   Not-in-family
17040   Married-civ-spouse        Craft-repair         Husband
18555        Never-married       Other-service   Not-in-family
18698        Never-married     Farming-fishing   Not-in-family
21318        Never-married        Adm-clerical       Own-child
21490        Never-married     Exec-managerial       Own-child
21875   Married-civ-spouse        Craft-repair         Husband
22300        Never-married     Priv-house-serv   Not-in-family
22367        Never-married      Prof-specialty   Not-in-family
22494   Married-civ-spouse        Craft-repair         Husband
25872        Never-married   Handlers-cleaners   Not-in-family
26313        Never-married      Prof-specialty   Not-in-family
28230        Never-married   Machine-op-inspct   Not-in-family
28522   Married-civ-spouse      Prof-specialty         Husband
28846   Married-civ-spouse        Craft-repair         Husband
29157   Married-civ-spouse   Machine-op-inspct         Husband
30845             Divorced        Adm-clerical       Unmarried
31993        Never-married       Other-service       Own-child
32404             Divorced       Other-service   Not-in-family

                      race      sex capital-gain capital-loss hours-per_week  \
4881                 White     Male            0            0             40
5104    Asian-Pac-Islander     Male            0            0             35
9171                 White   Female            0            0             10
11631                White   Female            0            0             10
13084                White   Female            0            0             40
15059                White     Male            0            0             50
17040                White     Male            0            0             40
18555                Black     Male            0            0             40
18698                White     Male            0            0             40
21318                White   Female            0            0             10
21490                Black     Male            0            0             30
21875                White     Male            0            0             40
22300                White   Female            0            0             40
22367                White   Female            0            0             45
22494                White     Male            0            0             40
25872                White     Male            0            0             55
26313                White     Male            0            0             50
28230                White   Female            0            0             40
28522                White     Male            0            0             40
28846                White     Male            0            0             40
29157                White     Male            0            0             48
30845                White   Female            0            0             40
31993                White     Male            0            0             14
32404                White   Female            0            0             40

       native-country income-per-year
4881           Mexico         <=50K\n
5104    United-States         <=50K\n
9171    United-States         <=50K\n
11631   United-States         <=50K\n
13084       Guatemala         <=50K\n
15059          Mexico         <=50K\n
17040   United-States         <=50K\n
18555               ?         <=50K\n
18698   United-States         <=50K\n
21318   United-States         <=50K\n
21490   United-States         <=50K\n
21875   United-States         <=50K\n
22300       Guatemala         <=50K\n
22367          Mexico         <=50K\n
22494   United-States         <=50K\n
25872          Mexico         <=50K\n
26313   United-States         <=50K\n
28230   United-States         <=50K\n
28522   United-States          >50K\n
28846   United-States         <=50K\n
29157   United-States          >50K\n
30845   United-States         <=50K\n
31993   United-States         <=50K\n
32404   United-States         <=50K\n

There are some ___duplicated rows___ in the dataset. So let's get rid of them.

In [124]:
# Removing the duplicate rows in the dataset.
adult_dataset = adult_dataset.drop_duplicates()

# Printing the duplicates again in order to finnalized that the dataset get rid of duplicate values.
print(adult_dataset[adult_dataset.duplicated()])

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per_week, native-country, income-per-year]
Index: []

Now the dataset has __no duplicate values__.

##### __Structural Errors__

In [125]:
# Checking for unique values in the dataset.
print(adult_dataset.nunique())

age                   74
workclass              9
fnlwgt             21648
education             16
education-num         16
marital-status         7
occupation            15
relationship           6
race                   5
sex                    2
capital-gain         119
capital-loss          92
hours-per_week        94
native-country        42
income-per-year        2
dtype: int64

In [126]:
# Printing each unique value in a column
for column in adult_dataset:
    print(column)
    print(adult_dataset[column].unique())
    print('\n')

age
['39' '50' '38' '53' '28' '37' '49' '52' '31' '42' '30' '23' '32' '40'
 '34' '25' '43' '54' '35' '59' '56' '19' '20' '45' '22' '48' '21' '24'
 '57' '44' '41' '29' '18' '47' '46' '36' '79' '27' '67' '33' '76' '17'
 '55' '61' '70' '64' '71' '68' '66' '51' '58' '26' '60' '90' '75' '65'
 '77' '62' '63' '80' '72' '74' '69' '73' '81' '78' '88' '82' '83' '84'
 '85' '86' '87' '\n']


workclass
[' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 ' ?' ' Self-emp-inc' ' Without-pay' ' Never-worked' None]


fnlwgt
[' 77516' ' 83311' ' 215646' ... ' 84661' ' 257302' None]


education
[' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' Assoc-voc' ' 7th-8th' ' Doctorate' ' Prof-school'
 ' 5th-6th' ' 10th' ' 1st-4th' ' Preschool' ' 12th' None]


education-num
[' 13' ' 9' ' 7' ' 14' ' 5' ' 10' ' 12' ' 11' ' 4' ' 16' ' 15' ' 3' ' 6'
 ' 2' ' 1' ' 8' None]


marital-status
[' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed'
 None]


occupation
[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' ' ?'
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv' None]


relationship
[' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative' None]


race
[' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other'
 None]


sex
[' Male' ' Female' None]


capital-gain
[' 2174' ' 0' ' 14084' ' 5178' ' 5013' ' 2407' ' 14344' ' 15024' ' 7688'
 ' 34095' ' 4064' ' 4386' ' 7298' ' 1409' ' 3674' ' 1055' ' 3464' ' 2050'
 ' 2176' ' 594' ' 20051' ' 6849' ' 4101' ' 1111' ' 8614' ' 3411' ' 2597'
 ' 25236' ' 4650' ' 9386' ' 2463' ' 3103' ' 10605' ' 2964' ' 3325' ' 2580'
 ' 3471' ' 4865' ' 99999' ' 6514' ' 1471' ' 2329' ' 2105' ' 2885' ' 25124'
 ' 10520' ' 2202' ' 2961' ' 27828' ' 6767' ' 2228' ' 1506' ' 13550'
 ' 2635' ' 5556' ' 4787' ' 3781' ' 3137' ' 3818' ' 3942' ' 914' ' 401'
 ' 2829' ' 2977' ' 4934' ' 2062' ' 2354' ' 5455' ' 15020' ' 1424' ' 3273'
 ' 22040' ' 4416' ' 3908' ' 10566' ' 991' ' 4931' ' 1086' ' 7430' ' 6497'
 ' 114' ' 7896' ' 2346' ' 3418' ' 3432' ' 2907' ' 1151' ' 2414' ' 2290'
 ' 15831' ' 41310' ' 4508' ' 2538' ' 3456' ' 6418' ' 1848' ' 3887' ' 5721'
 ' 9562' ' 1455' ' 2036' ' 1831' ' 11678' ' 2936' ' 2993' ' 7443' ' 6360'
 ' 1797' ' 1173' ' 4687' ' 6723' ' 2009' ' 6097' ' 2653' ' 1639' ' 18481'
 ' 7978' ' 2387' ' 5060' None]


capital-loss
[' 0' ' 2042' ' 1408' ' 1902' ' 1573' ' 1887' ' 1719' ' 1762' ' 1564'
 ' 2179' ' 1816' ' 1980' ' 1977' ' 1876' ' 1340' ' 2206' ' 1741' ' 1485'
 ' 2339' ' 2415' ' 1380' ' 1721' ' 2051' ' 2377' ' 1669' ' 2352' ' 1672'
 ' 653' ' 2392' ' 1504' ' 2001' ' 1590' ' 1651' ' 1628' ' 1848' ' 1740'
 ' 2002' ' 1579' ' 2258' ' 1602' ' 419' ' 2547' ' 2174' ' 2205' ' 1726'
 ' 2444' ' 1138' ' 2238' ' 625' ' 213' ' 1539' ' 880' ' 1668' ' 1092'
 ' 1594' ' 3004' ' 2231' ' 1844' ' 810' ' 2824' ' 2559' ' 2057' ' 1974'
 ' 974' ' 2149' ' 1825' ' 1735' ' 1258' ' 2129' ' 2603' ' 2282' ' 323'
 ' 4356' ' 2246' ' 1617' ' 1648' ' 2489' ' 3770' ' 1755' ' 3683' ' 2267'
 ' 2080' ' 2457' ' 155' ' 3900' ' 2201' ' 1944' ' 2467' ' 2163' ' 2754'
 ' 2472' ' 1411' None]


hours-per_week
[' 40' ' 13' ' 16' ' 45' ' 50' ' 80' ' 30' ' 35' ' 60' ' 20' ' 52' ' 44'
 ' 15' ' 25' ' 38' ' 43' ' 55' ' 48' ' 58' ' 32' ' 70' ' 2' ' 22' ' 56'
 ' 41' ' 28' ' 36' ' 24' ' 46' ' 42' ' 12' ' 65' ' 1' ' 10' ' 34' ' 75'
 ' 98' ' 33' ' 54' ' 8' ' 6' ' 64' ' 19' ' 18' ' 72' ' 5' ' 9' ' 47' ' 37'
 ' 21' ' 26' ' 14' ' 4' ' 59' ' 7' ' 99' ' 53' ' 39' ' 62' ' 57' ' 78'
 ' 90' ' 66' ' 11' ' 49' ' 84' ' 3' ' 17' ' 68' ' 27' ' 85' ' 31' ' 51'
 ' 77' ' 63' ' 23' ' 87' ' 88' ' 73' ' 89' ' 97' ' 94' ' 29' ' 96' ' 67'
 ' 82' ' 86' ' 91' ' 81' ' 76' ' 92' ' 61' ' 74' ' 95' None]


native-country
[' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands' None]


income-per-year
[' <=50K\n' ' >50K\n' None]

You can see that there is a newline code in age category which seems not suitable. Also in every column there is Nothing at the ends seems suspicious. Let's Check it.

In [127]:
# Checking the last row of the dataset
adult_dataset.tail(1)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per_week,native-country,income-per-year
32561,\n,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [128]:
# Dropping the last column based on index
adult_dataset = adult_dataset.drop(index=32561)

adult_dataset.tail(1)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per_week,native-country,income-per-year
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K\n

There is some question marks as unique values in work class, occupation as well as in native-country columns which seems doesn't really have meaning. So let's get rid of them.

In [129]:
# Checking the values in those columns and get rid of question marks
adult_dataset.replace(' ?', pd.NA, inplace=True)

In [130]:
# Check for unique values again to make sure that we get rid of all the unnecessary things
for column in adult_dataset:
    print(column)
    print(adult_dataset[column].unique())
    print('\n')

age
['39' '50' '38' '53' '28' '37' '49' '52' '31' '42' '30' '23' '32' '40'
 '34' '25' '43' '54' '35' '59' '56' '19' '20' '45' '22' '48' '21' '24'
 '57' '44' '41' '29' '18' '47' '46' '36' '79' '27' '67' '33' '76' '17'
 '55' '61' '70' '64' '71' '68' '66' '51' '58' '26' '60' '90' '75' '65'
 '77' '62' '63' '80' '72' '74' '69' '73' '81' '78' '88' '82' '83' '84'
 '85' '86' '87']


workclass
[' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 <NA> ' Self-emp-inc' ' Without-pay' ' Never-worked']


fnlwgt
[' 77516' ' 83311' ' 215646' ... ' 34066' ' 84661' ' 257302']


education
[' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' Assoc-voc' ' 7th-8th' ' Doctorate' ' Prof-school'
 ' 5th-6th' ' 10th' ' 1st-4th' ' Preschool' ' 12th']


education-num
[' 13' ' 9' ' 7' ' 14' ' 5' ' 10' ' 12' ' 11' ' 4' ' 16' ' 15' ' 3' ' 6'
 ' 2' ' 1' ' 8']


marital-status
[' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed']


occupation
[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' <NA>
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv']


relationship
[' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']


race
[' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']


sex
[' Male' ' Female']


capital-gain
[' 2174' ' 0' ' 14084' ' 5178' ' 5013' ' 2407' ' 14344' ' 15024' ' 7688'
 ' 34095' ' 4064' ' 4386' ' 7298' ' 1409' ' 3674' ' 1055' ' 3464' ' 2050'
 ' 2176' ' 594' ' 20051' ' 6849' ' 4101' ' 1111' ' 8614' ' 3411' ' 2597'
 ' 25236' ' 4650' ' 9386' ' 2463' ' 3103' ' 10605' ' 2964' ' 3325' ' 2580'
 ' 3471' ' 4865' ' 99999' ' 6514' ' 1471' ' 2329' ' 2105' ' 2885' ' 25124'
 ' 10520' ' 2202' ' 2961' ' 27828' ' 6767' ' 2228' ' 1506' ' 13550'
 ' 2635' ' 5556' ' 4787' ' 3781' ' 3137' ' 3818' ' 3942' ' 914' ' 401'
 ' 2829' ' 2977' ' 4934' ' 2062' ' 2354' ' 5455' ' 15020' ' 1424' ' 3273'
 ' 22040' ' 4416' ' 3908' ' 10566' ' 991' ' 4931' ' 1086' ' 7430' ' 6497'
 ' 114' ' 7896' ' 2346' ' 3418' ' 3432' ' 2907' ' 1151' ' 2414' ' 2290'
 ' 15831' ' 41310' ' 4508' ' 2538' ' 3456' ' 6418' ' 1848' ' 3887' ' 5721'
 ' 9562' ' 1455' ' 2036' ' 1831' ' 11678' ' 2936' ' 2993' ' 7443' ' 6360'
 ' 1797' ' 1173' ' 4687' ' 6723' ' 2009' ' 6097' ' 2653' ' 1639' ' 18481'
 ' 7978' ' 2387' ' 5060']


capital-loss
[' 0' ' 2042' ' 1408' ' 1902' ' 1573' ' 1887' ' 1719' ' 1762' ' 1564'
 ' 2179' ' 1816' ' 1980' ' 1977' ' 1876' ' 1340' ' 2206' ' 1741' ' 1485'
 ' 2339' ' 2415' ' 1380' ' 1721' ' 2051' ' 2377' ' 1669' ' 2352' ' 1672'
 ' 653' ' 2392' ' 1504' ' 2001' ' 1590' ' 1651' ' 1628' ' 1848' ' 1740'
 ' 2002' ' 1579' ' 2258' ' 1602' ' 419' ' 2547' ' 2174' ' 2205' ' 1726'
 ' 2444' ' 1138' ' 2238' ' 625' ' 213' ' 1539' ' 880' ' 1668' ' 1092'
 ' 1594' ' 3004' ' 2231' ' 1844' ' 810' ' 2824' ' 2559' ' 2057' ' 1974'
 ' 974' ' 2149' ' 1825' ' 1735' ' 1258' ' 2129' ' 2603' ' 2282' ' 323'
 ' 4356' ' 2246' ' 1617' ' 1648' ' 2489' ' 3770' ' 1755' ' 3683' ' 2267'
 ' 2080' ' 2457' ' 155' ' 3900' ' 2201' ' 1944' ' 2467' ' 2163' ' 2754'
 ' 2472' ' 1411']


hours-per_week
[' 40' ' 13' ' 16' ' 45' ' 50' ' 80' ' 30' ' 35' ' 60' ' 20' ' 52' ' 44'
 ' 15' ' 25' ' 38' ' 43' ' 55' ' 48' ' 58' ' 32' ' 70' ' 2' ' 22' ' 56'
 ' 41' ' 28' ' 36' ' 24' ' 46' ' 42' ' 12' ' 65' ' 1' ' 10' ' 34' ' 75'
 ' 98' ' 33' ' 54' ' 8' ' 6' ' 64' ' 19' ' 18' ' 72' ' 5' ' 9' ' 47' ' 37'
 ' 21' ' 26' ' 14' ' 4' ' 59' ' 7' ' 99' ' 53' ' 39' ' 62' ' 57' ' 78'
 ' 90' ' 66' ' 11' ' 49' ' 84' ' 3' ' 17' ' 68' ' 27' ' 85' ' 31' ' 51'
 ' 77' ' 63' ' 23' ' 87' ' 88' ' 73' ' 89' ' 97' ' 94' ' 29' ' 96' ' 67'
 ' 82' ' 86' ' 91' ' 81' ' 76' ' 92' ' 61' ' 74' ' 95']


native-country
[' United-States' ' Cuba' ' Jamaica' ' India' <NA> ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']


income-per-year
[' <=50K\n' ' >50K\n']

There is a new line added to the every data row in income per year. Therefore get rid of them.

In [133]:
# Removing the '\n' in income-per-year column.
adult_dataset['income-per-year'] = adult_dataset['income-per-year'].str.strip('\n')

# Removing the whitespaces in the income-per-year column
adult_dataset['income-per-year'] = adult_dataset['income-per-year'].str.strip(' ')

adult_dataset.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per_week,native-country,income-per-year
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K